{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "globals": {
    "jQuery": false,
    "$": false,
    "WatchApp": false,
    "WatchJsApi": false,
    "unsafeWindow": false,
    "GM_setValue": false,
    "GM_getValue": false,
    "GM_xmlhttpRequest": false,
    "self": true,
    "PRODUCT": true,
    "TOKEN": true,
    "global": true,
    "globalThis": true
  }
}